<!DOCTYPE html>
<html>
<head>
    <title>Railway ChatBot</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container-fluid h-100">
        <div class="row justify-content-center h-100">
            <div class="col-md-8 col-xl-6 chat">
                <div class="card">
                    <div class="card-header msg_head">
                        <div class="d-flex bd-highlight">
                            <div class="img_cont">
                                <img src="https://i.ibb.co/SVJqbgd/bot-con.png" class="rounded-circle user_img">
                                <span class="online_icon"></span>
                            </div>
                            <div class="user_info">
                                <span class="sameline">Railway Contingencies ChatBot
                                    <div id="ttsToggle" class="toggle-tts"><i class="fas fa-volume-up"></i></div>
                                </span>
                                <p>Hi, how are we doing today?</p>
                                
                            </div>
                        </div>
                    </div>
                    <div id="messageFormeight" class="card-body msg_card_body">
                    </div>
                    <div class="card-footer">
                        <form id="messageArea" class="input-group">
                            <input type="text" id="text" name="msg" placeholder="Type your message..." autocomplete="off" class="form-control type_msg" required/>
                            <div class="input-group-append">
                                <button type="submit" id="send" class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></button>
                                <button type="button" id="startRecording" class="input-group-text"><i class="fas fa-microphone"></i></button>
                                <button type="button" id="stopRecording" class="input-group-text" style="display:none;"><i class="fas fa-stop"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>
    let ttsEnabled = true;

    $(document).ready(function() {
        // Function to make URLs clickable
        function linkify(inputText) {
            var urlRegex = /(https?:\/\/[^\s]+)/g;
            return inputText.replace(urlRegex, function(url) {
                return '<a href="' + url + '" target="_blank">' + url + '</a>';
            });
        }

        // Initial greeting message from the bot
        function sendGreetingMessage() {
            var greetingMessage = {"response": {"reply": "Hello, I'm your Railway Contingencies ChatBot! How can I help you today?", "data_type": "", "data_content": ""}}
            displayBotMessage(greetingMessage);
        }

        // Function to read aloud text
        function readAloud(text) {
            const utterance = new SpeechSynthesisUtterance(text);
            speechSynthesis.speak(utterance);
        }

        // Displays messages from the bot
        function displayBotMessage(data) {
            const date = new Date();
            const str_time = date.getHours() + ":" + date.getMinutes();

            var response = data.response;
            var reply = response.reply;
            var data_type = response.data_type;
            var data_content = response.data_content;

            var botHtml = '<div class="d-flex justify-content-start mb-4"><div class="img_cont_msg"><img src="https://i.ibb.co/SVJqbgd/bot-con.png" class="rounded-circle user_img_msg"></div><div class="msg_cotainer">' + reply + '<span class="msg_time">' + str_time + '</span><div class="table-container"></div></div>';

            $("#messageFormeight").append($.parseHTML(botHtml));

            if (data_type === "json") {
                var jsonData = JSON.parse(data_content);
                var tableHtml = '<br><div class="table"><table class="tableHtml"><tbody>';
                jsonData.forEach(function(obj) {
                    for (var key in obj) {
                        tableHtml += '<tr><th>' + key + '</th>';
                        tableHtml += '<td>' + obj[key] + '</td></tr>';
                    }
                });
                tableHtml += '</tbody></table></div>';

                $(".table-container").last().html(tableHtml);

            } else if (data_type === 'list') {
                var listData = data_content;
                console.log('data content = ' + data_content);
                var splitData = data_content.split('\n');

                var listHtml = '<div>';
                splitData.forEach(function(item) {
                    item = item.trim();
                    if (item.startsWith('-')) {
                        listHtml += '<div>' + item + '</div>';
                    } else {
                        listHtml += '<br><div>' + item + '</div>';
                    }
                });
                listHtml += '</div>';

                $(".table-container").last().html(listHtml);
            } 

            if (!data_type) {
                $(".table-container").last().hide();
            }

            $("#messageFormeight").scrollTop($("#messageFormeight")[0].scrollHeight);

            // Read aloud the bot's response
            if (ttsEnabled) {
                readAloud(reply);
            }
        }

        // Event handler for submitting the message form
        $("#messageArea").on("submit", function(event) {
            event.preventDefault();
            const rawText = $("#text").val();
            displayUserMessage(rawText);
            displayLoadingIndicator();
            $("#text").val("");

            $.ajax({
                data: { message: rawText },
                type: "POST",
                url: "/get_response"
            }).done(function(data) {
                removeLoadingIndicator();
                displayBotMessage(data);
            });
        });

        // Displays messages sent by the user
        function displayUserMessage(text) {
            const date = new Date();
            const str_time = date.getHours() + ":" + date.getMinutes();
            var userHtml = '<div class="d-flex justify-content-end mb-4"><div class="msg_cotainer_send">' + linkify(text) + '<span class="msg_time_send">' + str_time + '</span></div><div class="img_cont_msg"><img src="https://i.ibb.co/r0gcr2T/user.png" class="rounded-circle user_img_msg"></div></div>';
            $("#messageFormeight").append($.parseHTML(userHtml));
        }

        // Display a loading animation while waiting for a response
        function displayLoadingIndicator() {
            var loadingHtml ='<div class="d-flex justify-content-start mb-4 loading-message"><div class="img_cont_msg"><img src="https://i.ibb.co/C6DPCSL/bot.png" class="rounded-circle user_img_msg"></div><div class="msg_cotainer"><span class="loading-dots"><span></span><span></span><span></span></span></div></div>';
            $("#messageFormeight").append(loadingHtml);
            $("#messageFormeight").scrollTop($("#messageFormeight")[0].scrollHeight);
        }

        // Remove the loading animation once a response is received
        function removeLoadingIndicator() {
            $(".loading-message").remove();
        }

        // Call the greeting message function on page load
        sendGreetingMessage();

        // Speech recognition
        function startRecognition() {
            recognition = new webkitSpeechRecognition();
            recognition.continuous = false;
            recognition.interimResults = true;
            recognition.lang = 'en-US';

            recognition.onresult = function(event) {
                const interimTranscript = event.results[event.results.length - 1][0].transcript;
                $("#text").val(interimTranscript);
            };

            recognition.onend = function() {
                stopRecognition();
                sendMessage();
            };

            recognition.start();
            $("#startRecording").hide();
            $("#stopRecording").show();
        }

        function stopRecognition() {
            if (recognition) {
                recognition.stop();
                recognition = null;
                $("#startRecording").show();
                $("#stopRecording").hide();
            }
        }

        function sendMessage() {
            event.preventDefault();
            const rawText = $("#text").val();
            displayUserMessage(rawText);
            displayLoadingIndicator();
            $("#text").val("");

            $.ajax({
                data: { message: rawText },
                type: "POST",
                url: "/get_response"
            }).done(function(data) {
                removeLoadingIndicator();
                displayBotMessage(data);
            });
        }

        $("#startRecording").on("click", function() {
            startRecognition();
        });

        $("#stopRecording").on("click", function() {
            stopRecognition();
        });

            // Toggle text-to-speech functionality

        $("#ttsToggle").on("click", function() {            
            ttsEnabled = !ttsEnabled; // Toggle the TTS state

            if (ttsEnabled) {
                $("#ttsToggle i").removeClass("fa-volume-mute").addClass("fa-volume-up");
            } else {
                $("#ttsToggle i").removeClass("fa-volume-up").addClass("fa-volume-mute");
            }
        });

    });
</script>
</body>
</html>